@import "tailwindcss";

/* Style générale */

body {
  font-family: monospace, sans-serif;
  color: rgb(218, 214, 214);
}
.bg-aside {
  @apply bg-[#373737];
}

.bg-page {
  @apply bg-[#262626];
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
/* Animation  */

@keyframes expand {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@theme {
  --animate-expand: expand ease-in 0.2s;
}
