@import "tailwindcss";

/* Style générale */

body {
  font-family: Helvetica, sans-serif;
}
.bg-aside {
  @apply bg-[#414141];
}

.bg-page {
  @apply bg-[#2a2a2a];
}

/* Animation  */

@keyframes expand {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@theme {
  --animate-expand: expand ease-in 0.2s;
}
